@tailwind base;
@tailwind components;
@tailwind utilities;

/* Contenidor del carrusel */
.carousel-container {
    position: relative;
    max-width: 400px; /* o qualsevol amplada que desitgis */
    margin: auto;
    overflow: hidden;
}

.carousel-title {
    text-align: center;   /* Centra el text */
    margin: 20px 0;       /* Marges superiors i inferiors */
    font-size: 32px;      /* Augmenta la mida de la font */
    font-weight: bold;    /* Fes el text en negreta */
    color: #333;          /* Color del text */
}

/* Estils del carrusel */
.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

/* Imatges del carrusel */
.carousel img {
    min-width: 100%; /* Manté cada imatge a l'amplada del contenidor */
    height: auto; /* Ajusta l'altura automàticament per mantenir la proporció */
    object-fit: contain; /* Utilitza 'contain' per assegurar que la imatge s'ajusti sense tallar-se */
}

/* Botons de navegació */
.prev-btn, .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}

.prev-btn:hover, .next-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
.bg-custom1 {
    background-image: url('fondo.gif');
    background-size: cover; /* Fa que la imatge cobreixi tota la secció */
    background-position: center; /* Centra la imatge */
    background-repeat: no-repeat; /* Evita que la imatge es repeteixi */
    padding: 60px 0; /* Ajusta el padding segons sigui necessari */
}
#sobre-mi {
    padding: 50px;
    text-align: center;
}

#sobre-mi-image {
    max-width: 100%;
    height: auto;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out; /* Transició per a la visibilitat i opacitat */
    opacity: 0; /* Comença com a completament transparent */
    visibility: hidden; /* No es pot veure */
}

.web-text, .ciberseguretat-text, .base-dades-text {
    transform: translateX(-100%); /* Comença des de l'esquerra fora de la vista */
    opacity: 0; /* Comença invisible */
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out; /* Transicions per a l'efecte d'entrada */
}

.visible {
    transform: translateX(0); /* Movem el text a la seva posició original */
    opacity: 1; /* Fem el text visible */
}